 html,body,ul,li{
	margin:0;
	padding:0;
}
body{
	background-color: #ededed;
}
a:hover{
    text-decoration: none;
}
[v-cloak] {
  display: none;
}
.header{
	height: 75px;
    background: -webkit-linear-gradient(top, #1b78c1 0%,#215089 100%);
    text-align: center;
}
.header input{
	border: none;
    font-size: 16px;
    font-weight: 200;
    border-radius: 5px;
}
.input-group{
	margin-top: 20px;
	width: 85%;
	display:inline-table;
}
.input-group-addon{
	font-size: 20px;
	padding: 6px 0px 6px 12px;
	background-color: #fff;
    border: 1px solid #fff;
}
.form-control:focus {
    -webkit-box-shadow: none; 
    box-shadow:none; 
}
.list:first-child{
	margin-top:0;
}
.list{
	height:135px;
	background-color: #fff;
	margin-top:10px;
	cursor: pointer;
}
.list img{
	padding-top:10px;
	height:100px;
    width:90px;
}
.list p.title{
	text-align: initial;
    padding-left: 14px;
    font-size: 18px;
    font-weight: bold;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color:#215089;
}
.list p.style{
	color: #7b7b7b;
}
.list p.style-result{
    color:#215089;
}
.container{
	text-align: center;
}
.col-xs-4{
	padding-left: 0;
	padding-right:0;
}
.col-xs-9{
	padding-top: 10px;
}
.list .course{
	padding: 0px 15px;
	color: #7b7b7b;
}
.more{
	text-align: center;
    font-size: 16px;
    padding: 5px;
    color: #999;
}
.back{
    z-index: 9999;
    position: fixed;
    right: 40px;
    bottom: 40px;
}
.back a{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #215089;
    border-radius: 8px;
    color: #fafafa;
    box-shadow: 0 5px 15px 0 rgba(15,37,64,.2);
    transition: all .3s ease 0s;
}
.back a i{
    font-size: 20px;
    font-weight: 700;
}
.keyNull{
    color:#828282;
    margin-top:15px;
}