<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
	<title>国际学校四库全书 - 教育人才库</title>
	<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_946378_kym42x76oc.css">
	<link rel="stylesheet" href="../css/talent/talent.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app"  v-cloak>
	<div class="listBox">
		<div class="header">
			<div class="input-group">
	            <span class="input-group-addon iconfont icon-sousuo1" @click="searchClick"></span>
	            <input v-model="inputValue" type="text" class="form-control" placeholder="搜索人才信息" onfocus="this.placeholder=''" onblur="this.placeholder='搜索人才信息'" @keyup.enter="searchEnterFun">
	            <span class="input-group-addon" style="font-size: 12px;color: #7b7b7b;padding-right:5px;">搜索到 <span style="color:#215089;">{{tatalNum.count}}</span> 条</span>
	        </div>
		</div>
		<div class="keyNull text-center" :class="keyNull ? 'show':'hide'">未搜索到结果，请重新输入关键字！</div>
		<div v-loading="loading"  style="width: 100%;" :style="{minHeight:loadHeight + 'px'}">
			<div class="list" v-for="item in list">
				<a v-bind:href="'./detail.html?School_name='+item.id">
					<div class="container">
						<div class="row">
							<div class="col-xs-3">
								<img :src="item.sex == 1 || item.sex == '男'? 'http://img.zcool.cn/community/01786557e4a6fa0000018c1bf080ca.png' : 'http://img.zcool.cn/community/01a29158b69c22a801219c774b4b0b.png@1280w_1l_2o_100sh.png'">
							</div>
							<div class="col-xs-9">
								<p class="title">{{item.name}}</p>
								<div class="col-xs-7">
									<span>期望年薪：<span class="answer">{{item.expectSalary | timeNull}}</span></span>
								</div>
								<div class="col-xs-5">
									<span>经验：<span class="answer">{{item.workYear | timeNull}}</span></span>
								</div>
								<div class="col-xs-12">
									<p class="workPlace">现工作地点：<span class="answer">{{item.workPlace}}</span></p>
								</div>
							</div>
						</div>
					</div>
					<div class="course">
						<span>教育背景：<span>{{item.educationBackground | substringP | timeNull}}</span></span>
					</div>
				</a>
			</div>
		</div>
		<div class="more" v-html="htmlChange" :class="isMore?'show':'hide'"></div>
	</div>
	<div class="back"  @click="goBack">
		<a><i class="iconfont icon-ziyuan"></i></a>
	</div>
</div>
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
<script src="../js/publicWX.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../js/config.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/talent/talent.js"></script>

